
.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.board{
    display:flex;
    height:70vh;
    width:30vw;
    min-height: 250px;
    min-width: 250px;
    flex-shrink: 0;
    align-content: flex-end;
    flex-wrap: wrap; 
    margin:4vh;
    background-color: grey
  
}

button{
   flex-grow:1;
   height: 7vh;
   width: 5vw;
   min-height: 30px;
   min-width: 30px;
   border-style:outset;
   border-radius: 3px;
   font-size: 3vh;
   font-weight: bold;
   
}
.calculator{
    background-color: brown;
    border-radius: 8px;
    min-height: 350px;
    min-height: 350px;
}
